<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stone.core.repository.UserMapper">

    <select id="getUserById" parameterType="String" resultMap="userMap">
        select * from user where id = #{id}
    </select>

    <!--<select id="getUserByName" parameterType="String" resultMap="userMap">
        select * from user where userName = #{userName}
    </select>-->

    <resultMap id="userMap" type="user">
        <id column="id" property="id"/>
        <result column="userName" property="userName"/>
        <result column="nickName" property="nickName"/>
        <result column="passWord" property="passWord"/>
        <result column="status" property="status" typeHandler="dataStatusHandler"/>
        <result column="registerTime" property="registerTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <insert id="createUser" parameterType="user">
        insert into user
        values (#{id}, #{userName}, #{passWord}, #{nickName}, #{status, typeHandler = dataStatusHandler}, #{registerTime}, #{remark})
    </insert>

    <update id="updateUser" parameterType="user">
        UPDATE user SET userName=#{userName}, passWord=#{passWord}, nickName = #{nickName},
        status=#{status, typeHandler = dataStatusHandler}, remark=#{remark}
        WHERE id=#{id}
    </update>

</mapper>